{% extends 'base.html' %}
{% block title %}Mini Blog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% for msg in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" onclick="closeMsg()">&times;</button>
            {{ msg }}
        </div>
    {% endfor %}
    <h1>{{ blog.title|safe }}</h1>
    {{ blog.changed_time }}
    <hr>
    {{ blog.body|safe }}
    <hr>
    {% if blog.mark %}
        标签：
        <a href="{{ url_for('main.index', tag=blog.mark) }}">
            <span class="label label-primary">{{ blog.mark|safe }}</span>
        </a>
    {% endif %}
    {% if current_user.is_administrator %}
        <hr>
        <a class="btn btn-default" href="{{ url_for('main.edit', blog_id=blog.id) }}">修改</a>
        {% if blog.is_deleted %}
            <a class="btn btn-default" href="{{ url_for('main.restore', blog_id=blog.id) }}">恢复</a>
        {% else %}
            <a class="btn btn-default" href="{{ url_for('main.delete', blog_id=blog.id) }}">删除</a>
        {% endif %}
    {% endif %}
{% endblock %}