{% import "chwtf.html" as wtf %}
{% extends 'base.html' %}
{% block title %}Mini Blog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <form class="form" role="form" method="post" action=>
        {{ form.csrf_token }}
        <h3 class="control-label" for="title">标题：</h3>
        {{ form.title(class="form-control") }}
        <div class="form-group required">
            <h3 class="control-label" for="title">内容：</h3>
            {{ form.body(class="ckeditor") }}
        </div>
        <div class="form-group required">
            <h3 class="control-label" for="mark">标签：</h3>
            {{ form.mark(class="form-control") }}
        </div>
        <div class="form-group required">
            {{ form.submit(class="btn btn-default") }}
            {{ form.cancel(class="btn btn-default") }}
        </div>
    </form>
{% endblock %}