{% import "_wtf.html" as wtf %}
{% extends 'base.html' %}
{% block title %}Editor{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <form class="form" role="form" method="post" action=>
        {{ form.csrf_token }}
        <h3 class="control-label" for="title">标题：</h3>
        {{ form.title(class="form-control") }}
        <div class="form-group required">
            <h3 class="control-label" for="title">内容：</h3>
            {{ form.body(class="ckeditor") }}
        </div>
{#        <div>#}
{#            <h3>test</h3>#}
{#            <textarea id="contentxxx" class="ckeditor"></textarea>#}
{#        </div>#}
{#        <script type="text/javascript">#}
{#            CKEDITOR.replace('contentxxx', {#}
{#                filebrowserUploadUrl: '/upload',#}
{#            });#}
{#        </script>#}
        <div class="form-group required">
            <span class="tag_span">标签：</span>
            {{ form.mark(id="mark_input") }}
            <span class="tag_span">&emsp;&emsp;&emsp;&emsp;分类：</span>
            {{ form.category(id="category_editor") }}
        </div>
        <hr>
        <div class="form-group required">
            {{ form.submit(class="btn btn-default") }}
            {{ form.cancel(class="btn btn-default") }}
        </div>
    </form>
{% endblock %}